<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Company position</th>
    <th>Description</th>
    <th>User</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.company_name %></td>
    <td><%= profile.company_position %></td>
    <td><%= profile.description %></td>
    <td><%= profile.user_id %></td>
    <td><%= profile.status %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
