<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @profile.company_name %>
</p>

<p>
  <b>Company position:</b>
  <%= @profile.company_position %>
</p>

<p>
  <b>Description:</b>
  <%= @profile.description %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Status:</b>
  <%= @profile.status %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
