<h1>Listing positions</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Long</th>
    <th>Radio</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.lat %></td>
    <td><%= position.long %></td>
    <td><%= position.radio %></td>
    <td><%= position.user_id %></td>
    <td><%= link_to 'Show', position %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Position', new_position_path %>
