<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @position.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @position.long %>
</p>

<p>
  <b>Radio:</b>
  <%= @position.radio %>
</p>

<p>
  <b>User:</b>
  <%= @position.user_id %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
