article {
	position: relative;
}

article .loading {
	background: url("/static/images/ajax-loader-big.gif") no-repeat center center;
	height: 128px;
	width: 128px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	top: 100px;
	left: 0;
}

.tag.count { margin-left: 10px !important; }

.hide { display: none !important; }

#matches-results {

}

#matches-results h3 {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 10px;
    text-align: left;
}

#matches-results strong {
	margin: 8px;
	text-align: left;
}

article div.empty {
	padding-top: 30px !important;
}

#matches-results img {
    border: 1px solid #CFCFCF;
    float: left;
    margin: 0 10px 0 auto;
    max-height: 200px;
    width: 50%;
}

#matches-results p {
    margin: 0;
	text-align: left;
}


#matches-results ul {
	clear: both;
	padding-top: 20px;
	list-style-type: none;
}

#matches-results ul li {
	float: left;
	margin-left: 15px; 
	padding-left: 20px;
	background: url('../static/images/tag.png') left center no-repeat;
}

#matches-results small {
    clear: left;
    color: #000000;
    padding-top: 15px;
    text-align: left;
}

#map {
	width: 320px !important;
	height: 400px !important;
    margin:25px auto !important;
    padding:0 !important;
}

#map img.map-image {
	width: 30px;
	height: 30px;
}

.inbox-image {
	width: 50px;
	height: 50px;
}

#inbox-list {
	list-style-type: none;
}

#layout-inbox {
	min-height: 800px;
	height: auto;
}

#radius-fieldset {
	width: 60px;
	float: left;
}

#live-offline h3 {
	float: left;
    margin-right: 14px;
    margin-top: 4px;
}

#live-offline .location {
	clear: both;
	text-align: left;
}

#live-offline .location strong {
	font-weight: bold;
}

#live-online strong {
	font-weight: bold;
}