<%= simple_form_for(@zoomin) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_meeter_id %>
    <%= f.input :second_meeter_id %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
