<h1>Listing zoomins</h1>

<table>
  <tr>
    <th>First meeter</th>
    <th>Second meeter</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zoomins.each do |zoomin| %>
  <tr>
    <td><%= zoomin.first_meeter_id %></td>
    <td><%= zoomin.second_meeter_id %></td>
    <td><%= zoomin.status %></td>
    <td><%= link_to 'Show', zoomin %></td>
    <td><%= link_to 'Edit', edit_zoomin_path(zoomin) %></td>
    <td><%= link_to 'Destroy', zoomin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zoomin', new_zoomin_path %>
