<p id="notice"><%= notice %></p>

<p>
  <b>First meeter:</b>
  <%= @zoomin.first_meeter_id %>
</p>

<p>
  <b>Second meeter:</b>
  <%= @zoomin.second_meeter_id %>
</p>

<p>
  <b>Status:</b>
  <%= @zoomin.status %>
</p>


<%= link_to 'Edit', edit_zoomin_path(@zoomin) %> |
<%= link_to 'Back', zoomins_path %>
