<section id="layout" data-transition="slide">
    <header data-title="ZoomIN" >
        <nav class="on-right">
            <button id="logout-button" data-icon="remove"></button>
        </nav>
    </header>

    <nav data-control="groupbar">
        <a href="#" data-view-article="layout-matches" data-label="Matches" class="active"></a>
        <a href="#" data-view-article="layout-live" data-label="Go Live!"></a>
        <a href="#" data-view-article="layout-inbox" data-label="Inbox" data-count="0"></a>
    </nav>

    <article id="layout-matches">
    	<div class="loading"></div>
    	<div id="no-matches-results" class="empty">
            <span class="icon user"></span>
            <strong>No more Matches</strong>
            <small>There's no one that match your criteria now. Please come back later for more matches.</small>
            <button id="refresh-profiles" class="anchor" data-label="Click to refresh..."></button>
        </div>
        <div id="matches-results" class="empty"></div>
    </article>
 
    <article id="layout-live">
    	<div class="loading"></div>
        <div class="empty">
	        <div id="live-offline" class="form">
	        	<h3>Radius:</h3>
	            <fieldset id="radius-fieldset" class="radius-top" data-icon="user">
	                <input type="text" name="radius" placeholder="Radius (miles)" id="txt-radius" value="5">
	            </fieldset>
	            <div class="location">
	            	<br />
		            <strong>Latitude: </strong><span id="location-lat">Searching...</span>
		            <br />
		            <strong>Longitude: </strong><span id="location-long">Searching...</span>
		            <br />
	            </div>
	            <br/>
	            <button id="go-online-button" class="anchor" data-icon="lock" data-icon="user" data-label="Go Online"></button>
	        </div>
	        
	        <div id="live-online" class="form">
	        	<strong>You're currently online!</strong>
	        	<br /><br />
	            <button id="go-offline-button" class="anchor" data-icon="user" data-icon="user" data-label="Go Offline"></button>
	        </div>
	        
        </div>
        
        <div id="map"></div>
    </article>
    
    <article id="layout-inbox" class="list scroll">
		<!-- <div class="loading"></div> -->
        <!-- <div class="empty"> -->
           <ul id="inbox-list">
							<li class="thumb big">
			            <img src="static/faces/7.jpg" alt="Profile Match">
			            <div>
			                <div class="on-right text tiny">OnLine</div>
			                <strong>Jana</strong>
			                <!-- <span class="text tiny opacity">lorem ipsum</span> -->
			                <a href="#" class="button small red on-right" data-label="Contact"></a>
			                <small>
			                    Dynamic program developper
			                </small>
			            </div>
			        </li>
							<li class="thumb big">
			            <img src="static/faces/18.jpg" alt="Profile Match">
			            <div>
			                <div class="on-right text tiny">OnLine</div>
			                <strong>Katelynn</strong>
			                <!-- <span class="text tiny opacity">lorem ipsum</span> -->
			                <a href="#" class="button small red on-right" data-label="Contact"></a>
			                <small>
			                    Dynamic account facilitator
			                </small>
			            </div>
			        </li>
							<li class="thumb big">
			            <img src="static/faces/8.jpg" alt="Profile Match">
			            <div>
			                <div class="on-right text tiny">Offline</div>
			                <strong>Augusta</strong>
			                <!-- <span class="text tiny opacity">lorem ipsum</span> -->
			                <small>
			                    Product group development
			                </small>
			            </div>
			        </li>
           </ul>
        <!-- </div> -->
    </article>

</section>

<!-- Match template -->
<script type="text/html" id="match_template">	
	<img src="static/faces/<%= image_url %>" alt="Profile Match" />
	<h3><%= name %></h3>

	<strong><%= company_name %></strong>
	<p><%= company_position %></p>

	<ul>
		<% for(var tag in tags) { %>
		<li><%= tags[tag] %></li>
		<% } %>
	</ul>


	<button id="positive-match" class="anchor"  style='text-align:center;'>
		<span class="icon ok" style="position:relative;font-size:3em;left:auto;	"></span>
		</button>
	<button id="negative-match" class="anchor"  style='text-align:center;'>
		<span class="icon remove" style="position:relative;font-size:3em;left:auto;	"></span>
		</button>
</script>

<!-- Inbox template -->
<script type="text/html" id="inbox_template">	
<li>
	<img src="static/faces/<%= image_url %>" alt="Profile Match" class="inbox-image" />

	<%= name %>
	<strong><%= company_name %></strong>
	<%= company_position %>

	<button id="arrange-meeting-<%= user_id %>" class="anchor" data-label="Arrange Meeting"><abbr>Arrange Meeting</abbr></button>
</li>
</script>